<%= form_for @blog, :html => { :class => "form-horizontal blog" } do |f| %>

    <% if @blog.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @blog.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :desc, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :desc, :class => 'form-control' %>
      </div>
      <%=f.error_span(:desc) %>
    </div>
    <div class="form-group">
      <%= f.label :Показать, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select(:status) do %>
            <% [['Нет', 0], ['Да', 1]].each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
        <% end %>
      </div>
      <%=f.error_span(:desc) %>
    </div>
    <div class="form-group">
      <%= f.label :avatar, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">

        <%= f.file_field :avatar %>

      </div>
      <%=f.error_span(:avatar) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    blogs_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
