<%- model_class = OrderInfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:c_id) %></th>
      <th><%= model_class.human_attribute_name(:integer) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:middle_name) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th><%= model_class.human_attribute_name(:index) %></th>
      <th><%= model_class.human_attribute_name(:street) %></th>
      <th><%= model_class.human_attribute_name(:house) %></th>
      <th><%= model_class.human_attribute_name(:parch) %></th>
      <th><%= model_class.human_attribute_name(:flat) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:commit) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_infos.each do |order_info| %>
      <tr>
        <td><%= link_to order_info.id, order_info_path(order_info) %></td>
        <td><%= order_info.c_id %></td>
        <td><%= order_info.integer %></td>
        <td><%= order_info.type %></td>
        <td><%= order_info.name %></td>
        <td><%= order_info.last_name %></td>
        <td><%= order_info.middle_name %></td>
        <td><%= order_info.country %></td>
        <td><%= order_info.city %></td>
        <td><%= order_info.region %></td>
        <td><%= order_info.index %></td>
        <td><%= order_info.street %></td>
        <td><%= order_info.house %></td>
        <td><%= order_info.parch %></td>
        <td><%= order_info.flat %></td>
        <td><%= order_info.phone %></td>
        <td><%= order_info.commit %></td>
        <td><%=l order_info.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_info_path(order_info), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_info_path(order_info),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_info_path,
            :class => 'btn btn-primary' %>
