<%- model_class = OrderInfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @order_info.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @order_info.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @order_info.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:middle_name) %>:</strong></dt>
  <dd><%= @order_info.middle_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @order_info.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @order_info.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region) %>:</strong></dt>
  <dd><%= @order_info.region %></dd>
  <dt><strong><%= model_class.human_attribute_name(:index) %>:</strong></dt>
  <dd><%= @order_info.index %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @order_info.street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:house) %>:</strong></dt>
  <dd><%= @order_info.house %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parch) %>:</strong></dt>
  <dd><%= @order_info.parch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flat) %>:</strong></dt>
  <dd><%= @order_info.flat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @order_info.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:commit) %>:</strong></dt>
  <dd><%= @order_info.commit %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              order_infos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_info_path(@order_info), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_info_path(@order_info),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
