<%= form_for @client, :html => { :class => "form-horizontal client" } do |f| %>

  <% if @client.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <%= f.label :login, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :login, :class => 'form-control' %>
    </div>
    <%=f.error_span(:login) %>
  </div>
  <div class="form-group">
    <%= f.label :pass, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pass, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pass) %>
  </div>
  <div class="form-group">
    <%= f.label :token, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :token, :class => 'form-control' %>
    </div>
    <%=f.error_span(:token) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
