<%= form_for @order, :html => { :class => "form-horizontal order" } do |f| %>

  <% if @order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :type, :class => 'form-control' %>
      </div>
      <%=f.error_span(:type) %>
    </div>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:last_name) %>
    </div>
    <div class="form-group">
      <%= f.label :middle_name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :middle_name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:middle_name) %>
    </div>
    <div class="form-group">
      <%= f.label :country, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :country, :class => 'form-control' %>
      </div>
      <%=f.error_span(:country) %>
    </div>
    <div class="form-group">
      <%= f.label :city, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :city, :class => 'form-control' %>
      </div>
      <%=f.error_span(:city) %>
    </div>
    <div class="form-group">
      <%= f.label :region, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :region, :class => 'form-control' %>
      </div>
      <%=f.error_span(:region) %>
    </div>
    <div class="form-group">
      <%= f.label :index, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :index, :class => 'form-control' %>
      </div>
      <%=f.error_span(:index) %>
    </div>
    <div class="form-group">
      <%= f.label :street, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :street, :class => 'form-control' %>
      </div>
      <%=f.error_span(:street) %>
    </div>
    <div class="form-group">
      <%= f.label :house, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :house, :class => 'form-control' %>
      </div>
      <%=f.error_span(:house) %>
    </div>
    <div class="form-group">
      <%= f.label :parch, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :parch, :class => 'form-control' %>
      </div>
      <%=f.error_span(:parch) %>
    </div>
    <div class="form-group">
      <%= f.label :flat, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :flat, :class => 'form-control' %>
      </div>
      <%=f.error_span(:flat) %>
    </div>
    <div class="form-group">
      <%= f.label :phone, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :phone, :class => 'form-control' %>
      </div>
      <%=f.error_span(:phone) %>
    </div>
    <div class="form-group">
      <%= f.label :commit, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :commit, :class => 'form-control' %>
      </div>
      <%=f.error_span(:commit) %>
    </div>
    <div class="form-group">
      <%= f.label :count, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :count, :class => 'form-control' %>
      </div>
      <%=f.error_span(:count) %>
    </div>
    <div class="form-group">
      <%= f.label :status, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :status, :class => 'form-control' %>
      </div>
      <%=f.error_span(:status) %>
    </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
