<%= form_for(@cart_element) do |f| %>
  <% if @cart_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_element.errors.count, "error") %> prohibited this cart_element from being saved:</h2>

      <ul>
      <% @cart_element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
