<h1>Listing cart_elements</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Size</th>
      <th>Color</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_elements.each do |cart_element| %>
      <tr>
        <td><%= cart_element.count %></td>
        <td><%= cart_element.size %></td>
        <td><%= cart_element.color %></td>
        <td><%= cart_element.status %></td>
        <td><%= link_to 'Show', cart_element %></td>
        <td><%= link_to 'Edit', edit_cart_element_path(cart_element) %></td>
        <td><%= link_to 'Destroy', cart_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart element', new_cart_element_path %>
