<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @cart_element.count %>
</p>

<p>
  <strong>Size:</strong>
  <%= @cart_element.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cart_element.color %>
</p>

<%= link_to 'Edit', edit_cart_element_path(@cart_element) %> |
<%= link_to 'Back', cart_elements_path %>
