// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image_border {
  position: absolute;
  border: 3px solid #eeeeee;
  background: rgba( 60, 60, 60, 0.3);
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
}