<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>


<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery.Jcrop.js' %>

<%= form_for @category, :html => { :class => "form-horizontal category" , :multipart => true } do |f| %>

    <% if @category.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>



    <script type="text/javascript" language="JavaScript">
        function showCoords( c ) {
            $( '#category_x1' ).val(c.x);
            $( '#category_y1' ).val(c.y);
            $( '#category_width' ).val(c.w);
            $( '#category_height' ).val(c.h);
        }
        $(function(){

            var jcrop_api;

            $('#jcrop_target').Jcrop({
                onChange: showCoords,
                onSelect: showCoords
            },function(){

                var offset = $("#cropimage").offset()

                if ( $("#cropimage").width() >=  $("#cropimage").height() ) {

                    var wd =  $("#cropimage").width()
                    var hg =  $("#cropimage").width() / 2;

                }
                else {
                    var wd =  $("#cropimage").width()
                    var hg =  $("#cropimage").width() / 2;
                }

                jcrop_api = this;
                jcrop_api.setSelect([0,0, wd,hg])

                jcrop_api.setOptions({ allowResize: !!this.checked });
                jcrop_api.focus();

            });

        });
    </script>

    <h1>Editing upload</h1>

    <!-- CROP FORM -->
    <div id='jcrop_target'>
      <%= image_tag @category.avatar.url, :id => 'cropimage' %>
    </div>

    <div id='cropresults'>
      <%= f.label 'x1' %>
      <%= f.text_field 'x1', :size => 6 %>
      <br />
      <%= f.label 'y1' %>
      <%= f.text_field 'y1', :size => 6 %>
      <br />
      <%= f.label 'width' %>
      <%= f.text_field 'width', :size => 6 %>
      <br />
      <%= f.label 'height' %>
      <%= f.text_field 'height', :size => 6 %>
      <br />
    </div> <!-- cropresults -->
    <!-- END CROP FORM -->




    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    categories_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>



