<%= form_for @product, :html => { :class => "form-horizontal product" , :multipart => true, :style=>"width: 60%; margin: auto" } do |f| %>

    <% if @product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label :size, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :size, :class => 'form-control' %>
      </div>
      <%=f.error_span(:size) %>
    </div>
    <div class="form-group">
      <%= f.label :sizeTable, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :sizeTable ,  [['Таблица размеров для бюстгальтеров', 1], ['Таблица для спаренных размеров', 2], ['Таблица для одиночных размеров ', 3], ['MТаблица для больших и универсальных размеров ', 4], ['Колготки и чулки', 5]] , {} , { :class => 'form-control' }   %>
      </div>
      <%=f.error_span(:sizeTable) %>
    </div>
    <div class="form-group">
      <%= f.label :show, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :show ,  [['Скрыть', 0], ['Показать', 1]] , {} , { :class => 'form-control' }   %>
      </div>
      <%=f.error_span(:sizeTable) %>
    </div>
    <div class="form-group">
      <%= f.label :color, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :color, :class => 'form-control' %>
      </div>
      <%=f.error_span(:color) %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :description, :class => 'form-control', :style => "height: 200px" %>
      </div>
      <%=f.error_span(:description) %>
    </div>
    <div class="form-group">
      <%= f.label :price, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
      <%=f.error_span(:price) %>
    </div>
    <div class="form-group">
      <%= f.label :Количество, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :count, :class => 'form-control' %>
      </div>
      <%=f.error_span(:count) %>
    </div>
    <div class="form-group">
      <%= f.label :sale, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :sale, :class => 'form-control' %>
      </div>
      <%=f.error_span(:sale) %>
    </div>
    <div class="form-group">
      <%= f.label :brend, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :brend, :class => 'form-control' %>
      </div>
      <%=f.error_span(:sale) %>
    </div>
    <div class="form-group">
      <%= f.label :avatar, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :avatar, :class => 'form-control'  %>
      </div>
      <%=f.error_span(:sale) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    products_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
