<% content_for(:head) do %>
    <%= stylesheet_link_tag "jquery.Jcrop" %>
    <%= javascript_include_tag "jquery.Jcrop.min" %>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $('#cropbox').Jcrop({
                onChange: update_crop,
                onSelect: update_crop,
                setSelect: [0, 0, 500, 500],
                aspectRatio: 1
            });
        });

        function update_crop(coords) {
            var rx = 100/coords.w;
            var ry = 100/coords.h;
            $('#preview').css({
                width: Math.round(rx * <%= @product.avatar_geometry(:normal).width %>) + 'px',
                height: Math.round(ry * <%= @product.avatar_geometry(:normal).height %>) + 'px',
                marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                marginTop: '-' + Math.round(ry * coords.y) + 'px'
            });
            var ratio = <%= @product.avatar_geometry(:original).width %> / <%= @product.avatar_geometry(:normal).width %>;
            $("#crop_x").val(Math.round(coords.x * ratio));
            $("#crop_y").val(Math.round(coords.y * ratio));
            $("#crop_w").val(Math.round(coords.w * ratio));
            $("#crop_h").val(Math.round(coords.h * ratio));
        }
    </script>
<% end %>

<%= image_tag @product.avatar.url(:normal), :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @product.avatar.url(:normal), :id => "preview" %>
</div>

<% form_for @product do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
        <%= f.hidden_field attribute, :id => attribute %>
    <% end %>



    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Crop", :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    products_path, :class => 'btn btn-default' %>
      </div>
    </div>
    <div id="image_border">
    </div>
<% end %>