<%- model_class = Product -%>

<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery.Jcrop.js' %>

<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= form_for @product, :html => { :class => "form-horizontal product" , :multipart => true, :style=>"width: 60%; margin: auto" } do |f| %>

    <% if @product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label :size, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :size, :class => 'form-control' %>
      </div>
      <%=f.error_span(:size) %>
    </div>
    <div class="form-group">
      <%= f.label :sizeTable, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :sizeTable ,  [['Таблица размеров для бюстгальтеров', 1], ['Таблица для спаренных размеров', 2], ['Таблица для одиночных размеров ', 3], ['MТаблица для больших и универсальных размеров ', 4], ['Колготки и чулки', 5]] , {} , { :class => 'form-control' }   %>
      </div>
      <%=f.error_span(:sizeTable) %>
    </div>
    <div class="form-group">
      <%= f.label :show, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :show ,  [['Скрыть', 0], ['Показать', 1]] , {} , { :class => 'form-control' }   %>
      </div>
      <%=f.error_span(:sizeTable) %>
    </div>
    <div class="form-group">
      <%= f.label :color, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :color, :class => 'form-control' %>
      </div>
      <%=f.error_span(:color) %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :description, :class => 'form-control', :style => "height: 200px" %>
      </div>
      <%=f.error_span(:description) %>
    </div>
    <div class="form-group">
      <%= f.label :price, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
      <%=f.error_span(:price) %>
    </div>
    <div class="form-group">
      <%= f.label :Количество, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :count, :class => 'form-control' %>
      </div>
      <%=f.error_span(:count) %>
    </div>
    <div class="form-group">
      <%= f.label :sale, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :sale, :class => 'form-control' %>
      </div>
      <%=f.error_span(:sale) %>
    </div>
    <div class="form-group">
      <%= f.label :brend, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :brend, :class => 'form-control' %>
      </div>
      <%=f.error_span(:sale) %>
    </div>
    <div class="form-group">
      <%= f.label :avatar, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :avatar, :class => 'form-control'  %>
      </div>
      <%=f.error_span(:sale) %>
    </div>




    <script type="text/javascript" language="JavaScript">
        function showCoords( c ) {
            $( '#product_x1' ).val(c.x);
            $( '#product_y1' ).val(c.y);
            $( '#product_width' ).val(c.w);
            $( '#product_height' ).val(c.h);
        }
        $(function(){

            var jcrop_api;

            $('#jcrop_target').Jcrop({
                onChange: showCoords,
                onSelect: showCoords
             },function(){

                var offset = $("#cropimage").offset()

                if ( $("#cropimage").width() <  $("#cropimage").height() ) {

                    var wd =  $("#cropimage").width()
                    var hg =  $("#cropimage").width() * 1.3;

                }
                else {
                    var wd =  $("#cropimage").height() / 1.3
                    var hg =  $("#cropimage").height();
                }

                jcrop_api = this;
                jcrop_api.setSelect([0,0, wd,hg])

                jcrop_api.setOptions({ allowResize: !!this.checked });
                jcrop_api.focus();

            });

        });
    </script>

    <h1>Editing upload</h1>

    <!-- CROP FORM -->
    <div id='jcrop_target'>
      <%= image_tag @product.avatar.url, :id => 'cropimage' %>
    </div>

    <div id='cropresults'>
      <%= f.label 'x1' %>
      <%= f.text_field 'x1', :size => 6 %>
      <br />
      <%= f.label 'y1' %>
      <%= f.text_field 'y1', :size => 6 %>
      <br />
      <%= f.label 'width' %>
      <%= f.text_field 'width', :size => 6 %>
      <br />
      <%= f.label 'height' %>
      <%= f.text_field 'height', :size => 6 %>
      <br />
    </div> <!-- cropresults -->
    <!-- END CROP FORM -->



    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Crop", :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    products_path, :class => 'btn btn-default' %>
      </div>
    </div>
    <div id="image_border">
    </div>




<% end %>



