<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Продукты" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Изображение) %></th>
      <th><%= model_class.human_attribute_name(:Названи) %></th>
      <th><%= model_class.human_attribute_name(:Размер) %></th>
      <th><%= model_class.human_attribute_name(:Таблица_размеров) %></th>
      <th><%= model_class.human_attribute_name(:Цвет) %></th>
      <th><%= model_class.human_attribute_name(:Описание) %></th>
      <th><%= model_class.human_attribute_name(:Цена) %></th>
      <th><%= model_class.human_attribute_name(:Скидка) %></th>
      <th><%= model_class.human_attribute_name(:Количество) %></th>
      <th><%= model_class.human_attribute_name(:Бренд) %></th>
      <th><%= model_class.human_attribute_name(:Показать) %></th>
      <th><%= model_class.human_attribute_name(:Создан) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%=image_tag(product.avatar(:thumb)) %></td>
        <td><%= product.name %></td>
        <td><%= product.size %></td>
        <td><%= product.sizeTable %></td>
        <td><%= product.color %></td>
        <td><%= product.description.truncate(100) %></td>
        <td><%= product.price %></td>
        <td><%= product.sale %></td>
        <td><%= product.count %></td>
        <td><%= product.brend %></td>
        <td><%= form_for(product,
                     remote: true) do |f| %>
            <div class="form-group" style="width: 170px">
              <div class="col-lg-10">
                <%= f.select :show ,  [['Скрыть', 0], ['Показать', 1]] , {} , { :class => 'form-control prod_show' , :id => product.id }  %>
              </div>
              <%=f.error_span(:sizeTable) %>
            </div>
        <% end %>
        </td>
        <td><%=l product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
