
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление категории</h4>
      </div>
      <div class="modal-body">
        <%= collection_select(:prod, :cat_id,  Category.where.not(id: @product.categories), :id, :name, {} , :class =>  'form-control') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="addCat(<%= params[:id] %>)">Добавить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SaleModal" tabindex="-1" role="dialog" aria-labelledby="SaleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление акции</h4>
      </div>
      <div class="modal-body">
        <%= collection_select(:prod, :sale_id,  Sale.where.not(id: @product.sales), :id, :name, {} , :class =>  'form-control') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="addSale(<%= params[:id] %>)">Добавить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="ImageModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление акции</h4>
      </div>
      <%= form_for(@image , :html =>  { :multipart => true }, :remote => true )  do |f| %>



          <div class="form-group">
            <%= f.label :avatar, :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">

              <%= f.file_field :avatar, :class => 'form-control'  %>

            </div>
            <%=f.error_span(:avatar) %>
          </div>


          <input type="hidden" value="<%= params[:id] %>" name="prod_id">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Закрыть</button>

            <%= f.submit 'Добавить' , :class => 'btn btn-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @product.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sizeTable) %>:</strong></dt>
  <dd><%= @product.sizeTable %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @product.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sale) %>:</strong></dt>
  <dd><%= @product.sale %></dd>
  <dt><strong><%= model_class.human_attribute_name(:show) %>:</strong></dt>
  <dd><%= @product.show %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brend) %>:</strong></dt>
  <dd><%= @product.brend %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Количество) %>:</strong></dt>
  <dd><%= @product.count %></dd>

  <dd><%= image_tag @product.avatar() , id: "avatar" %></dd>

  <dd style="margin: 10px">
    <h4>Категории:</h4><br><br>

    <ul class="list-group" id="categories">
      <% @product.categories.each do |cat| %>
          <li class="list-group-item" style="width: 200px; float: left" id="cat_<%= cat.id %>">
            <span class=" fa fa-remove " aria-hidden="true" style="float: right;" onclick="removeCat(<%= cat.id %> , <%= params[:id] %>)"></span>
            <%= cat.name %>
          </li>
      <% end %>

    </ul>

  </dd>
  <dd style="margin: 10px">
    <h4>Акции:</h4></h5><br><br>
    <ul class="list-group" id="sales">
      <% @product.sales.each do |sale| %>
          <li class="list-group-item" style="width: 200px; float: left" id="sale_<%= sale.id %>">
            <span class=" fa fa-remove " aria-hidden="true" style="float: right;" onclick="removeSale(<%= sale.id %> , <%= params[:id] %>)"></span>
            <%= sale.name %>
          </li>
      <% end %>

    </ul>
  </dd>


  <dd style="margin: 10px">
<h4>Изображения:</h4><br><br>
    <ul class="list-group" id="images">
      <% @product.images.each do |image| %>
          <li class="list-group-item" style="width: 200px; float: left" id="image_<%= image.id %>">
            <%= link_to t('.destroy', :default => '' ),
                        image_path(image),
                        :remote => true ,
                        :style => "float: right; text-decoration: none; " ,
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => ' fa fa-remove del_image' %>
            <%= image_tag image.avatar(:thumb) %>
          </li>
      <% end %>

    </ul>

  </dd>



  <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">Добавить категорию</button>
  <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#SaleModal">Добавить акцию</button>
  <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#ImageModal">Добавить изображения</button>



  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>


  </div>
</dl>
