<tr id="image_<%= image.id %>">
<td><%= link_to image.id, image_path(image) %></td>
<td><%= image_tag(image.avatar.url(:thumb)) %></td>
<td><%=l image.created_at %></td>
<td>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_image_path(image), :class => 'btn btn-default btn-xs' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              image_path(image),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
</td>
</tr>